#Generacion del clock
Net "gen_clk" LOC = V10 | IOSTANDARD=LVCMOS33;
Net "gen_clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 25 MHz;

## Switches
	#Colores
	NET "sw<0>"       LOC = "T5";   
	NET "sw<1>"       LOC = "V8";   
	NET "sw<2>"       LOC = "U8";
   NET "sw<3>"       LOC = "N8";   
	NET "sw<4>"       LOC = "M8";   
	NET "sw<5>"       LOC = "V9";	
	NET "sw<6>"       LOC = "T9";   
	NET "sw<7>"       LOC = "T10";   
	
	#Botones de juego
	NET "bDer" LOC = "D9";
	NET "bCen" LOC = "B8";
	NET "bIzq" LOC = "C4";
	NET "bR" LOC = "A8";

##VGA
NET "hsync" LOC = N6 | IOSTANDARD = LVCMOS33; 
NET "vsync" LOC = P7 | IOSTANDARD = LVCMOS33; 
NET "rgb[7]" LOC = U7 | IOSTANDARD = LVCMOS33; 
NET "rgb[6]" LOC = V7 | IOSTANDARD = LVCMOS33; 
NET "rgb[5]" LOC = N7 | IOSTANDARD = LVCMOS33; 
NET "rgb[4]" LOC = P8 | IOSTANDARD = LVCMOS33;  
NET "rgb[3]" LOC = T6 | IOSTANDARD = LVCMOS33; 
NET "rgb[2]" LOC = V6 | IOSTANDARD = LVCMOS33; 
NET "rgb[1]" LOC = R7 | IOSTANDARD = LVCMOS33; 
NET "rgb[0]" LOC = T7 | IOSTANDARD = LVCMOS33;

//Keyboard
NET "PS2DATA" LOC = J13 | IOSTANDARD = LVCMOS33 | PULLUP; #Bank = 1, pin name = IO_L39P_M1A3, Sch name = PIC-SDI1
NET "PS2CLK" LOC = L12 | IOSTANDARD = LVCMOS33 | PULLUP; #Bank = 1, pin name = IO_L40P_GCLK11_M1A5, Sch name = PIC-SCK1

#NET "LED<0>" LOC = U16 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L2P_CMPCLK, Sch name = LD0
#NET "LED<1>" LOC = V16 |  IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L2N_CMPMOSI, Sch name = LD1
#NET "LED<2>" LOC = U15 |  IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L5P, Sch name = LD2
#NET "LED<3>" LOC = V15 |  IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L5N, Sch name = LD3
#NET "LED<4>" LOC = M11 |  IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L15P, Sch name = LD4
#NET "LED<5>" LOC = N11 |  IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L15N, Sch name = LD5
#NET "LED<6>" LOC = R11 |  IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L16P, Sch name = LD6
#NET "LED<7>" LOC = T11 |  IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L16N_VREF, Sch name = LD7


